<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="2">
    <listeners>
        <listener class-name="org.example.utils.RetryListeners"/>
    </listeners>
    <test name="TestNGRunnerNew">
        <classes>
                <class name="org.example.CucumberRunner.cucumberTestNGRunner"/>
        </classes>
    </test>
</suite>